
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /* Accent */
    --blue: hsl(248, 32%, 49%);
    /* Neutral */
    --dk-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%); 
    --hover: hsl(248, 32%, 58%);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: 1px solid black;*/
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins',
    sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(/images/bg-intro-mobile.png);
    background-color: var(--red);
}

/* Default Design-- Mobile */

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 17px);
        position: relative;
    }
    .introduction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        color: white;
        text-align: center;
    }
    .introduction >:nth-child(1) {
        font-size: 3rem;
        font-weight: 600;
        color: white;
        line-height: 60px;
        margin-top: 10px;
    }
    .introduction > :nth-child(2) {
        color: white;
        margin-top: 20px;
    }
    .sign-up {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sign-up > button {
        width: 70%;
        height: 90px;
        margin-top: -10px;
        margin-bottom: 15px;
        border: none;
        color: white;
        border-radius: 8px;
        font-weight: 400;
        font-size: 15px;
        position: relative;
        cursor: pointer;
        outline: none;
        background: var(--blue);
    }
    .sign-up > button::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background: var(--dk-blue);
        bottom: -5px;
        border-radius: 8px;
        z-index: -1;
        opacity: 0.3;
    }
    .sign-up > button:hover {
        background: var(--hover);
    }

    /* Form Styling */
    .form__container {
        width: 75%;
        margin-top: 30px;
        background: white;
        padding: 40px;
        border-radius: 8px;
        position: relative;
    }


    .error {
        position: absolute;
        right: 15px;
        top: 12px;
        display: none;
    }
    .errorMessage {
        text-align: right;
        font-size: 11px;
        color: var(--red);
        font-style: italic;
        font-weight: 500;
        margin-top: 5px;
        display: none;
    }


    
    

/* Attribution Style */

    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}