
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    /* Accent */
    --blue: hsl(248, 32%, 49%);
    /* Neutral */
    --dk-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%); 
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid black;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins',
    sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(/images/bg-intro-mobile.png);
    background-position: cover;
    background-color: var(--red);
}

/* Default Design-- Mobile */

@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 17px);
        position: relative;
    }
    .introduction {
        padding: 3rem;
        color: white;
        text-align: center;
    }
    h1, 
    p {
        padding: 1rem;
    }

    /* Form Styling */


    
    .error {
        position: absolute;
        right: 15px;
        top: 12px;
        display: none;
    }
    .errorMessage {
        text-align: right;
        font-size: 11px;
        color: var(--red);
        font-style: italic;
        font-weight: 500;
        margin-top: 5px;
        display: none;
    }


    
    

/* Attribution Style */

    .attribution {
        font-size: 11px;
        text-align: center;
    }

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}